
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: visible;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color:red;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 100;
  opacity: 0.9;
}
